
/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: var(--backColor1); */
    font-family: "Open Sans", sans-serif;
    background-color: white;
    /* color: #272829; */
    transition: all 350ms ease-out;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

section{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.heading{
  font-size: 160px;
  font-weight: 1000;
  font-family:'Megrim', cursive;
  color:black;
}

body.dark-theme {
  background-color: #121212;
  color: whitesmoke;
}

body.dark-theme .heading{
  color: whitesmoke;
}

body.dark-theme #resume .line{
  border: 6px solid whitesmoke;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 992px) {
    #main {
      margin-left: 100px;
    }
  }
  
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 10px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i {
    font-size: 20px;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;
    }
    .nav-menu a span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
    color: #fff;
    background: #000000;
  }
  
  .nav-menu a:hover span, .nav-menu .active span, .nav-menu li:hover > a span {
    color: #fff;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: #fff;
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
  
  .mobile-nav-toggle i {
    color: #45505b;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #0563bb;
  }
  

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero{
    position: absolute;
    z-index: 1;
    width: max-content;
    height: max-content;
    top: 50vh;
    left: 30vw;
}

#hero h1{
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 56px;
    font-family: 'Megrim', cursive;
    color: #000000;
}

@media (min-width: 992px) {
    #hero {
      padding-left: 160px;
    }
}

canvas{
    position: absolute;
    background-color:white;
}


/*--------------------------------------------------------------
# About 
--------------------------------------------------------------*/

.ellipse{
  position: absolute;
  width: 582px;
  height: 582px;
  border-radius: 50%;
  left: -85px;
  top: -148px;
  z-index: -9;

  background: #EBB9B9;
}

.picture{
  position: absolute;
  width: 640px;
  height: 640px;
  left: 117px;
  top: 143px;
  background: url(profile.png);
  background-repeat: no-repeat;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.33));

  border-radius: 22%;

}

#about .heading{
  /* width: min-content;
  height: min-content; */
  margin: auto;
  text-align: start;
}

#about .line{
  position: relative;
  width: 10vw;
  height: 0px;
  /* left: 1051px;
  top: 223px; */

  border: 6px solid black;
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 10px; */
  text-align: end;
}

#about p{
  font-size: 32px;
  line-height: 40px;
  text-justify: newspaper;
  font-weight: 500;
  font-family:'Raleway', cursive;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

#resume .heading{
  margin: auto;
  /* text-align: end; */
}

#resume .line{
  position: relative;
  width: 10vw;
  height: 0px;
  /* left: 1051px;
  top: 223px; */

  border: 6px solid black;
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 10px; */
  /* text-align: end; */
}

body.dark-theme #resume .line{
  border: 6px solid whitesmoke;
}


#resume .tag{
  position: relative;
  /* margin:auto; */
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 25px;
  width: max-content;
  height: max-content;
}

#resume .tag .tag-line{
  position: relative;
  width: 2vw;
  height: 0px;
  border: 3px solid white;
  transform: rotate(180deg);
  opacity: 1;
  margin-top: auto;
  align-self: flex-end;
}


/* #resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
} */

#resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #ffffff;
  position: relative;
}


#resume .resume-item p{
  justify-content: right;
}

#resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}

#resume .resume-item h5 {
  font-size: 16px;
  /* background: #f7f8f9; */
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

#resume .resume-item ul {
  padding-left: 20px;
}

#resume .resume-item ul li {
  padding-bottom: 10px;
}

#resume .resume-item:last-child {
  padding-bottom: 0;
}

#resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #ffffff;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
#projects .heading{
  margin: auto;
  /* text-align: end; */
}

#projects .line{
  position: relative;
  width: 10vw;
  height: 0px;
  /* left: 1051px;
  top: 223px; */

  border: 6px solid black;
  transform: rotate(180deg);
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 10px; */
  text-align: end;
}

